
<h2>Add and delete Gitlab Access credentials</h2>

<form action="" method="post">

    <table>
        <thead>
            <tr>
                <th>API type</th>
                <th>API version</th>
                <th>API server</th>
                <th>Private Token</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th>{{ form_widget( form.apiType ) }}</th>
                <th>{{ form_widget( form.apiVersion ) }}</th>
                <th>
                    {{ form_widget( form.apiHostProtocol ) }}
                    ://
                    {{ form_widget( form.apiHost ) }}
                </th>
                <th>{{ form_widget( form.privateToken ) }}</th>
                <th>{{ form_rest( form ) }}</th>
                <th><input type="submit" value="add" /></th>
            </tr>
        </thead>
        <tbody>
            {% for data in accessdata %}
                <tr>
                    <td>{{ data.apiTypeHumanReadable }}</td>
                    <td>{{ data.apiVersion }}</td>
                    <td>{{ data.apiHostProtocolHumanReadable }}://{{ data.apiHost }}</td>
                    <td>{{ data.privateToken }}</td>
                    <td>{{ data.remoteUsername }}</td>
                    <td>[ <a href="{{ path( 'wg_gitlab_access_delete', { 'id': data.id } ) }}">delete</a> ]</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</form>